<t:container xmlns:t="http://tapestry.apache.org/schema/tapestry_5_3.xsd" xmlns:p="tapestry:parameter">
	<div>
		<t:if test="displayTitle">
		 	<div class="page-header">
		 		<h2>${chronicle.title} <small>${chronicle.subtitle}</small></h2>
		 	</div>
		</t:if>
	 	<t:outputRaw value="chronicle.description" />
	</div>
</t:container>