<t:container xmlns:t="http://tapestry.apache.org/schema/tapestry_5_3.xsd">
	<t:form t:id="chronicleForm" t:clientValidation="SUBMIT" class="form-horizontal">
		<t:errors />
		<fieldset>
			<legend>${message:chronicles.form.section1}</legend>
			<div class="form-group required">
				<t:label for="chronicleTitle" class="col-md-3 control-label"/>
				<div class="col-md-9">
					<input t:type="textField" t:id="chronicleTitle" t:validate="required" 
						t:value="chronicle.title"
						t:label="message:chronicles.form.name" class="form-control"/>
					<span class="help-block">${message:chronicles.form.name.help}</span>
				</div>
			</div>
			<div class="form-group">
				<t:label for="chronicleSubtitle" class="col-md-3 control-label"/>
				<div class="col-md-9">
					<input t:type="textField" t:id="chronicleSubtitle" t:value="chronicle.subTitle"
						t:label="message:chronicles.form.subtitle" class="form-control"
						t:validate="maxlength=125"/>
					<span class="help-block">${message:chronicles.form.subtitle.help}</span>
				</div>
			</div>
			<div class="form-group required">
				<label class="col-md-3 control-label">${message:chronicles.form.type}</label>
				<div class="col-md-9">
					<t:radiogroup t:id="chronicleType" t:value="chronicle.type" t:validate="required">
						<div class="radio">
						  <label>
						    <t:radio t:id="standardType"/>
						    <t:outputRaw t:value="message:chronicles.form.type.option.standard" />
						  </label>
						</div>
						<div class="radio">
						  <label>
						    <t:radio t:id="privateType"/>
						    <t:outputRaw t:value="message:chronicles.form.type.option.private" />
						  </label>
						</div>
					</t:radiogroup>
				</div>
			</div>
			<div class="form-group required">
				<t:label for="chroniclePassword" class="col-md-3 control-label"/>
				<div class="col-md-9">
					<input t:type="textField" t:id="chroniclePassword" t:validate="required,minlength=8,maxlength=15"
						t:value="chronicle.password" t:label="message:chronicles.form.password"
						class="form-control" maxlength="15"/>
					<span class="help-block">${message:chronicles.form.password.help}</span>
				</div>
			</div>
		</fieldset>
		<fieldset>
			<legend>${message:chronicles.form.section2}</legend>
			<div class="form-group required">
				<t:label for="chronicleGame" class="col-md-3 control-label"/>
				<div class="col-md-9">
					<t:select t:id="chronicleGame" t:label="message:chronicles.form.game"
						t:encoder="gameEncoder" t:model="gameModel" t:value="chronicle.game"
						t:validate="required" t:blankOption="always"
						t:blankLabel="message:chronicles.form.selectgame"/>
				</div>
			</div>
			<div class="form-group required">
				<label class="col-md-3 control-label">${message:chronicles.form.style}</label>
				<div class="col-md-9">
					<t:radiogroup t:id="chronicleStyle" t:value="chronicle.style" t:validate="required">
						<div class="radio">
						  <label>
						    <t:radio t:id="ambianceStyle"/>
						    <t:outputRaw t:value="message:chronicles.form.style.option.ambiance" />
						  </label>
						</div>
						<div class="radio">
						  <label>
						    <t:radio t:id="actionStyle"/>
						    <t:outputRaw t:value="message:chronicles.form.style.option.action" />
						  </label>
						</div>
						<div class="radio">
						  <label>
						    <t:radio t:id="balancedStyle"/>
						    <t:outputRaw t:value="message:chronicles.form.style.option.balanced" />
						  </label>
						</div>
					</t:radiogroup>
				</div>
			</div>
			<div class="form-group required">
				<label class="col-md-3 control-label">${message:chronicles.form.genre}</label>
				<div class="col-md-9">
					<t:radiogroup t:id="chronicleGenre" t:value="chronicle.genre" t:validate="required">
						<div class="radio">
						  <label>
						    <t:radio t:id="historicalGenre"/>
						    <t:outputRaw t:value="message:chronicles.form.genre.option.historical" />
						  </label>
						</div>
						<div class="radio">
						  <label>
						    <t:radio t:id="contemporaryGenre"/>
						    <t:outputRaw t:value="message:chronicles.form.genre.option.contemporary" />
						  </label>
						</div>
						<div class="radio">
						  <label>
						    <t:radio t:id="cyberpunkGenre"/>
						    <t:outputRaw t:value="message:chronicles.form.genre.option.cyberpunk" />
						  </label>
						</div>
						<div class="radio">
						  <label>
						    <t:radio t:id="medfanGenre"/>
						    <t:outputRaw t:value="message:chronicles.form.genre.option.medfan" />
						  </label>
						</div>
						<div class="radio">
						  <label>
						    <t:radio t:id="postapoGenre"/>
						    <t:outputRaw t:value="message:chronicles.form.genre.option.postapo" />
						  </label>
						</div>
						<div class="radio">
						  <label>
						    <t:radio t:id="spaceopGenre"/>
						    <t:outputRaw t:value="message:chronicles.form.genre.option.spaceop" />
						  </label>
						</div>
						<div class="radio">
						  <label>
						    <t:radio t:id="otherGenre"/>
						    <t:outputRaw t:value="message:chronicles.form.genre.option.other" />
						  </label>
						</div>
					</t:radiogroup>
				</div>
			</div>
			<div class="form-group required">
				<label class="col-md-3 control-label">${message:chronicles.form.pace}</label>
				<div class="col-md-9">
					<t:radiogroup t:id="chroniclePace" t:value="chronicle.pace" t:validate="required">
						<div class="radio">
						  <label>
						    <t:radio t:id="slowPace"/>
						    <t:outputRaw t:value="message:chronicles.form.pace.option.slow" />
						  </label>
						</div>
						<div class="radio">
						  <label>
						    <t:radio t:id="averagePace"/>
						    <t:outputRaw t:value="message:chronicles.form.pace.option.average" />
						  </label>
						</div>
						<div class="radio">
						  <label>
						    <t:radio t:id="fastPace"/>
						    <t:outputRaw t:value="message:chronicles.form.pace.option.fast" />
						  </label>
						</div>
					</t:radiogroup>
				</div>
			</div>
		</fieldset>
		<fieldset>
			<legend>${message:chronicles.form.section3}</legend>
			<div class="form-group required">
				<t:label for="chronicleDate" class="col-md-3 control-label"/>
				<div class="col-md-9">
					<input t:type="textField" t:id="chronicleDate" t:validate="required,maxlength=50" t:value="chronicle.date"
						t:label="message:chronicles.form.date" class="form-control"/>
					<span class="help-block">${message:chronicles.form.date.help}</span>
				</div>
			</div>
			<div class="form-group required">
				<t:label for="chronicleDescription" class="col-md-3 control-label" />
				<div class="col-md-9">
					<t:textarea t:id="chronicleDescription" t:label="message:chronicles.form.description"
						t:mixins="ckeditor/ckeditor" t:value="chronicle.description" t:validate="required"
						t:ckparameters="{'toolbar': 'Basic'}" rows="5" class="form-control" />
				</div>
			</div>						
		</fieldset>
		<t:if test="editing">
			<fieldset>
				<legend>${message:chronicles.form.adminsection}</legend>
			</fieldset>
			<div class="form-group required">
				<label class="col-md-3 control-label">${message:chronicles.form.openForInscription}</label>
				<div class="col-md-9">
					<t:radiogroup t:id="open4Inscription" t:value="chronicle.openForInscription" t:validate="required">
						<div class="radio">
						  <label>
						    <t:radio t:id="open" value="true"/>
						    <t:outputRaw t:value="message:chronicles.form.openForInscription.true" />
						  </label>
						</div>
						<div class="radio">
						  <label>
						    <t:radio t:id="close" value="false"/>
						    <t:outputRaw t:value="message:chronicles.form.openForInscription.false" />
						  </label>
						</div>
					</t:radiogroup>
				</div>
			</div>
			<div class="form-group required">
				<label class="col-md-3 control-label">${message:chronicles.form.valid}</label>
				<div class="col-md-9">
					<t:radiogroup t:id="active" t:value="chronicle.active" t:validate="required">
						<div class="radio">
						  <label>
						    <t:radio t:id="validTrue" value="true"/>
						    <t:outputRaw t:value="message:chronicles.form.valid.true" />
						  </label>
						</div>
						<div class="radio">
						  <label>
						    <t:radio t:id="validFalse" value="false"/>
						    <t:outputRaw t:value="message:chronicles.form.valid.false" />
						  </label>
						</div>
					</t:radiogroup>
				</div>
			</div>
			<div class="form-group required">
				<label class="col-md-3 control-label">${message:chronicles.form.archived}</label>
				<div class="col-md-9">
					<t:radiogroup t:id="archived" t:value="chronicle.deleted" t:validate="required">
						<div class="radio">
						  <label>
						    <t:radio t:id="archivedTrue" value="true"/>
						    <t:outputRaw t:value="message:chronicles.form.archived.true" />
						  </label>
						</div>
						<div class="radio">
						  <label>
						    <t:radio t:id="archivedFalse" value="false"/>
						    <t:outputRaw t:value="message:chronicles.form.archived.false" />
						  </label>
						</div>
					</t:radiogroup>
				</div>
			</div>
		</t:if>
		<div class="form-group">
			<div class="col-md-offset-3 col-md-9">
				<t:Submit t:id="submitLogin" t:value="message:chronicles.form.submit" class="btn btn-primary"/>
				<t:if test="editing">
					<input type="reset" value="${message:chronicles.form.reset}" class="btn btn-default" /> 
				</t:if>
			</div>
		</div>
	</t:form>
</t:container>