.sidebar-nav-fixed {
    position:fixed;
    right:20px;
    top:50px;
	bottom : 40px;
    width:200px;
}

.row-fluid > .span-fixed-sidebar {
    margin-left: 210px;
}

.overflowAuto{
	overflow : auto;
	width : 180px;
	max-height : 600px; 
}

//Crée un bouton pour afficher l'accordeon

.btnSidebar{
	width : 178px;
}

.tableBtnsidebarTdAvatar{
	width : 37px;
}
.btnsidebarTdTitre{
	text-align : left;
}

//Avatar

.avatarBorderShadow(@style: 0px 0px 5px,@c: #000000){
  box-shadow:         @style @c;
  -webkit-box-shadow: @style @c;
  -moz-box-shadow:    @style @c;
}

.avatarPosition{
	display : inline;
	border : solid #EEE 1px;
	.avatarBorderShadow;
}