#sheetGridDiv {
	width:960px;
	height:1358px;
	position:relative;
	border:1px solid #000;
	margin-bottom: 30px;
}

#sheetGridDiv.edit {
	background:url(data:image/gif;base64,R0lGODlhFAAUAIAAAMDAwP///yH5BAEAAAEALAAAAAAUABQAAAImhI+pwe3vAJxQ0hssnnq/7jVgmJGfGaGiyoyh68GbjNGXTeEcGxQAOw==);
}

.sheetcontainer {
	overflow: hidden;
}

.sheetcontainer-skills {
	border: 1px solid #000;
	width:100%;
	height: 100%;
	background:#fff;
}

.sheetcontainer-head {
	background-color: #000;
	color:#fff;
}

.sheetcontainer-head > h3{
	font-size:16px;
	line-height:20px;
	margin: 0;
}

.sheetcontainer-content {
	
}

.sheetcontainer-edit {
	/* Fallback for web browsers that doesn't support RGBa */
	background: rgb(255, 255, 255);
	
	/* RGBa with 0.6 opacity */
	background: rgba(255, 255, 255, 0.5);

	border: 1px dashed #000;
}