// SIDEBAR
//-----------------------------------------
.scrollable {
	overflow-y : visible;
	overflow-x : hidden;
	height: 100%;
}


// CHATBOX
//-----------------------------------------

.chatbox {
}

.chatbox .contact {
	display: block;
	height: 30px;
	width: @sidebar-width;
	cursor: pointer;
	text-decoration: none;
	margin-left: 0px;
	padding: 2px;
}
.chatbox .contact .name {
	margin-left:30px;
	margin-right:30px;
	height: 30px;
	line-height: 30px;
}

.chatbox .contact .pic {
	float:left;
	margin-top: 2px;
}

.chatbox [class*="icon"], .chatbox [class^="icon"]{
	float:right;
	padding-right: 15px;
	margin-top: 8px;
}

.chatbox .contact:hover {
	background-color: @gray-lighter;
}

