// TheORCS Chronicle Layout LESS CUSTOMIZATION
// --------------------------------------------------

// GRID SYSTEM
//---------------------------------------------------
.row,.row-fluid {margin-bottom:@row-margin-bottom;}

// ROOT ITEMS
// --------------------------------------------------
body {
	margin-top: @top-margin; /* to make the container go all the way to the bottom of the topbar */
	margin-bottom: @bottom-margin; /* to make sure the footer do not cover the bottom of the page */
	background: none repeat scroll 0 0 @gray-lighter;
}

h1, h2, h3, h4, h5, h6 {
	margin-top : 5px;
	margin-bottom : 5px;
	margin-left: 5px;
}

p {
	margin-left:5px;
}

// SOME UTILITIES CLASS
// --------------------------------------------------
.center {
	text-align: center;
}

// SPAN CUSTOMIZATION
// --------------------------------------------------

[class*="span"] {
   background-color: #fff;
   border: 1px solid @gray-light;
   border-radius: 2px;
   
   a { margin-left:5px;}
}
	
// TOPBAR CUSTOMIZATION
// --------------------------------------------------		
.active {background-color: @gray;} // used to set the same background color for direct link button within top bar

.container-fluid > .row-fluid {
	margin-bottom: 0px;
}

// LAYOUT CUT CUSTOMIZATION
// --------------------------------------------------

.content {
	float:left;
	margin-right: (@sidebar-width + @gridGutterWidth);
	min-width : @layoutMinWidth - @sidebar-width;
}

.sidebar {
	float:left;
	width:@sidebar-width;
	margin-left:(0 - @sidebar-width);
}
