// VARIABLES
// --------------------------------------------------
@layoutMinWidth : 1020px;
@primaryButtonBackground:    @linkColor;
@row-margin-bottom : 15px;	//used to set space between rows
@navbar-default-bgActive: @grayDarker; //used to set the same color as top bar for direct active buttons
@top-margin:(@navbarHeight + 5);
@bottom-margin:@top-margin;
@sidebar-width : 220px;

