#gigyaLogin_arrow_right, #gigyaLogin_arrow_left, #gigyaLogin_arrow_right_disable, #gigyaLogin_arrow_left_disable {
	padding :0px;
	border: none;
	background-color: transparent;
}

#gigyaLogin_welcome tr {
	height: 0px;
}