// VARIABLES
// --------------------------------------------------
@btn-primary-bg: @link-color;
@row-gutter : 20px;	//used to set space between rows
@navbar-default-link-active-bg: @gray-darker; //used to set the same color as top bar for direct active buttons
@top-margin : 70px;
@bottom-margin : 70px;
@row-margin-bottom : 15px;	//used to set space between rows