//Add "*" to Required fields
//--------------------------------------------------
.form-group.required .control-label:after { 
   content:"*";
}

//ALERT ADJUSTMENTS
//--------------------------------------------------
.alert-error{
	.alert-danger;
}

//MODAL ADJUSTMENTS
//--------------------------------------------------
.modal-dialog {
	width:675px;
}

// TABLETS AND BELOW
// -----------------
@media (max-width: 979px) {
	body {
		/* Reset the Margins as the Nav Bar is now Static */
		margin-top: 0px;
		margin-bottom: 0px;
	}
}

// ROOT ITEMS
// --------------------------------------------------
body {
	padding-top: @top-margin; /* To make the container go all the way to the bottom of the top navbar */
	padding-bottom: @bottom-margin; /* To make sure the footer do not cover the bottom of the page */
}

h1, h2, h3, h4, h5, h6 {
	margin-top : 5px;
	margin-bottom : 5px;
	margin-left: 5px;
}

p { 
	margin-left:5px;
}

.white {
	color:#fff;
}

// TOPBAR CUSTOMIZATION
// --------------------------------------------------		
.active {
	background-color: @gray;  // used to set the same background color for direct link button within top bar
}

//Reduce Page header Margin
//--------------------------------------------------
.page-header{
	margin:20px 0;
}

// GRID SYSTEM
//---------------------------------------------------
.row {
	margin-bottom:@row-margin-bottom;
}

// BUTTON FIX
//--------------------------------------------------

.btn {
	margin-right: 5px;
}

//GRID ADJUSTMENTS
//--------------------------------------------------

// Remove the ugly sort Icon
th[data-grid-column-sort] a {
   background: none !important;
   padding-right: 0px;
}

th[data-grid-column-sort="sortable"] a span {
	.glyphicon;
	.glyphicon-sort;
}

// Add Glyphicon Sortable
th[data-grid-column-sort="descending"] a span {
	.glyphicon;
    .glyphicon-sort-by-attributes-alt;
}

th[data-grid-column-sort="ascending"] a span {
	.glyphicon;
    .glyphicon-sort-by-attributes;
}

.boxcontent {
	padding: 5px 14px;
}

// Some Colors for Glyphicon
//--------------------------------------------------
.valid {
	color:#26B41B;
}

.invalid {
	color:#AA0000;
}
