// SOME UTILITIES CLASS
// --------------------------------------------------
.center {
	text-align: center;
}

.hcenter {
	margin-left: auto ;
	margin-right: auto ;
}

.vcenter {
	position:absolute;
	top:50%;
}

.pull-right-with-margin {
	.pull-right;
	margin-right: 5px;
}
