// STYLES FOR NEW MESSAGES AND SCENES
// -------------

.tuileBorderRadius(@radius: 3px 3px 3px 3px){
  border-radius: @radius;
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
}

.tuileBorderShadow(@style: 0px 0px 5px,@c: #000000){
  box-shadow:         @style @c;
  -webkit-box-shadow: @style @c;
  -moz-box-shadow:    @style @c;
}

.tuileBlocDimension(@taille-width: 20px, @taille-height: 10px,@boxColor: #4D926F){
	width : @taille-width;
	height : @taille-height;
	background-color : @boxColor;
	float : left;
	margin : 5px;
}

//les classes 

.boxMessage{
	//classes globales
	.tuileBorderRadius;
	.tuileBorderShadow(0px 0px 5px, #4BB5C1);
	.tuileBlocDimension(120px, 50px, #4BB5C1);
	
	//Police
	font-size: 0.8em;
	color : #FFF;
	
		//classes imbriquées
		.boxPicture{
		.tuileBorderRadius;
		.tuileBorderShadow(0px 0px 5px, #555555);
		.tuileBlocDimension(40px, 40px, #555555);
		}

		.boxContent{
		margin-top: 2px;
		}
}

.blocHomePage{
	min-width : 200px;
	margin-bottom : 10px;
	position : relative;
	max-height : 360px;
}

.blocHomePageOverflow{
	overflow : auto;
	max-height : 240px; 
}

