// LIBER-MUNDI.ORG LESS CUSTOMIZATION
// --------------------------------------------------

// VARIABLES
// --------------------------------------------------
@primaryButtonBackground:    @linkColor;
@row-margin-bottom : 15px;	//used to set space between rows
@navbar-default-bgActive: @grayDarker; //used to set the same color as top bar for direct active buttons

// GRID SYSTEM
//---------------------------------------------------
.row {margin-bottom:@row-margin-bottom;}

// ROOT ITEMS
// --------------------------------------------------
body {
	padding-top: 45px; /* 45px to make the container go all the way to the bottom of the topbar */
	padding-bottom: 45px; /* 45px to make sure the footer do not cover the bottom of the page */
}


h1, h2, h3, h4, h5, h6 {
	margin-top : 5px;
	margin-bottom : 5px;
	margin-left: 5px;
}

h4{padding-left: 5px; }
p { margin-left:5px;}

// SPAN CUSTOMIZATION
// --------------------------------------------------
.title-badge {
	margin-top : -35px;
	margin-bottom : 5px;
	margin-left: 5px;
}
[class*="span"] {
   background-color: #fff;
   box-shadow: 1px 1px 1px 1px @gray-light;
   border: 1px 1px 1px 1px;
   border-radius: 2px 5px;
   
   a { margin-left:5px;}
}

//BADGE
//-------------------------------------------------
.badge{
	background-image: url(../img/badge-2.png);
	background-repeat: no-repeat;
	height: 45px;
	position: relative;
	right: 21px;
	top: -5px;
	width: 45px;
	margin-left: 90%;
	padding: 0px;
    background-color: transparent;
}

.badge-hot{.badge;background-position: 0 0;}
.badge-new{.badge;background-position: 0 -45px;}
.badge-top{.badge;background-position: 0 -90px;}
.badge-video{.badge;background-position:0,-135px;}
.badge-audio{.badge;background-position: 0 -180px;}
.badge-photo{.badge;background-position: 0 -225px;}	


//--------------------------------------------------
//MODAL CUSTOMIZATION
.modalontop {
  position: fixed;
  top: 50;
  left: 50%;
  z-index: @zindexModal;
  /*min-height:600px;*/
  max-height: 800px;
  overflow: auto;
  width: 560px;
  margin: -400px 0 0 -280px;
  background-color: #fff;
  border: 1px solid #999;
  border: 1px solid rgba(0,0,0,.3);
  *border: 1px solid #999; /* IE6-7 */
  .border-radius(6px);
  .box-shadow(0 3px 7px rgba(0,0,0,0.3));
  .background-clip(padding-box);
  &.fade {
    .transition(e('opacity .3s linear, top .3s ease-out'));
    top: -25%;
  }
  &.fade.in { top: 50%; }
}

.modal-footer {
  .btn-left {
    float: left;
    margin-left: 5px;
    margin-bottom: 0; // account for input[type="submit"] which gets the bottom margin like all other inputs
  }
}
	
// TOPBAR CUSTOMIZATION
// --------------------------------------------------		
.active {background-color: @gray;} // used to set the same background color for direct link button within top bar

// RATING CUSTOMIZATION
//---------------------------------------------------
[class^="star"] {
  display: inline-block;
  width: 160px;
  height: 32px;
  vertical-align: text-top;
  background-image: url(../img/rating.png);
  background-position: 0px 0px;
  background-repeat: no-repeat;
  .ie7-restore-right-whitespace();
}

.star0 {background-position: 0px 0px;}
.star1 {background-position: 0px -32px;}
.star2 {background-position: 0px -64px;}
.star3 {background-position: 0px -96px;}
.star4 {background-position: 0px -128px;}
.star5 {background-position: 0px -160px;}

#auth_zone {
	width:550px;
}
