<t:extend
	xmlns:t="http://tapestry.apache.org/schema/tapestry_5_3.xsd"
	xmlns:p="tapestry:parameter">
	
	<t:replace id="content">
		<div class="row">
			<div class="col-md-12">
				<div class="spanbox">
					<div class="page-header">
	    				<h2>${message:chronicles.persona.management.description.title} <small>${message:chronicles.persona.management.description.smalltitle}</small></h2>
	    			</div>
	    			<t:zone t:id="personaDescription">
						<div class="row">
							<div class="col-md-12">
								<t:chronicles.persona.ViewDescription t:persona="persona"/>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<t:eventLink event="switchMode" t:zone="personaDescription" class="btn btn-primary pull-right-with-margin">${message:chronicles.buttons.edit}</t:eventLink>
							</div>
						</div>
	    			</t:zone>
				</div>
			</div>
    	</div>
    	<t:block id="descriptionForm">
			<t:chronicles.persona.EditDescription />
		</t:block>
	</t:replace>
</t:extend>