<t:extend xmlns:t="http://tapestry.apache.org/schema/tapestry_5_3.xsd">
	<t:replace id="logoutLink">
		<t:actionLink t:id="logout" title="${message:security.logoutlink.label}"><span class="glyphicon glyphicon-off"></span></t:actionLink>
	</t:replace>
</t:extend>