<t:extend xmlns:t="http://tapestry.apache.org/schema/tapestry_5_3.xsd">
	<t:replace id="content">
		<div class="row">
			<div class="col-xs-6">
				<div class="spanbox">
					<div>
					    <h4 class="glyphicon-envelope">${mailBoxMessage}</h4>
					    <p>
		                	<t:chronicles.message.MessageBox internalMessages="internalMessages"/>
					    </p>
					</div>
					<br/>
					<div>
						<h4 class="glyphicon-pencil">${forumBoxMessage}</h4>
		                <p>
					    	<t:chronicles.forum.ForumBox />
		                </p>
		            </div>
				</div>
			</div>
			
			<div class="col-xs-6">
				<div class="row">
					<div class="spanbox">
			       		<table class="zebra-striped">
	                      <thead></thead>
	                      <tbody>
	                          <tr>
	                              <td colspan="2">
	                                  <h4>KATARINA THADDICZ</h4>
	                              </td>
	                          </tr>
	                          <tr>
	                              <td>
	                                  <img alt="Katarina Thaddicz" height="90%" width="90%" src="Skins/MedFanBasic/pictures/persona.PNG" />
	                                  <br />
	                                  <a href="#" rel='tooltip' title="Previous"><i class="icon-backward"></i></a>
	                                   Switch Persona
	                                  <a href="#" rel='tooltip' title="Next"><i class="icon-forward"></i></a>
	                                  <hr />
	                              </td>
	                              <td valign="top">
	                                  <ul>
	                                      <li><a href="#" rel='tooltip' title="Previous"><i class="icon-th-list"></i>Sheet</a></li>
	                                      <li><t:pagelink page="chronicles/forum/list"><i class="icon-film"></i>${message:chronicles.mainmenu.scene}</t:pagelink></li>
	                                      <li><a href="#" rel='tooltip' title="Previous"><i class="icon-shopping-cart"></i>Inventory</a></li>
	                                      <li class="divider"></li>
	                                      <li><t:pagelink page="chronicles/message/messageList"><i class="icon-envelope"></i>${message:chronicles.mainmenu.mail}</t:pagelink></li>
	                                  </ul>
	                              </td>
	                          </tr>
	                          <tr>
	                              <td colspan="2">
	                                  <h4>CURRENT POSITION</h4>
	                              </td>
	                          </tr>
	                          <tr>
	                              <td colspan="2">
	                                  <img alt="You'r here!" height="90%" width="90%" src="Skins/MedFanBasic/pictures/location.png" />
	                              </td>
	                          </tr>
	                      </tbody>
	                  	</table>					
					</div>
					
					<div class="row">
						<div>
							<div class="spanbox">
								<h4>NEWS</h4>
								<p>This is the equivalent module as previous News screen and should display text scrolling automatically.</p>
								<p>This is the equivalent module as previous News screen and should display text scrolling automatically.</p>
								<p>This is the equivalent module as previous News screen and should display text scrolling automatically.</p>
								<p>This is the equivalent module as previous News screen and should display text scrolling automatically.</p>					
							</div>
						</div>				
					</div>				
				</div>
			</div>
		</div>
	</t:replace>
</t:extend>