// TheORCS Chronicle Layout LESS CUSTOMIZATION
// --------------------------------------------------

// ROOT ITEMS
// --------------------------------------------------
body {	
	background: none repeat scroll 0 0 @gray-lighter;
}

// SPAN CUSTOMIZATION (FOR GRID SYSTEM ONLY)
// --------------------------------------------------
.container-fluid > .row-fluid {
	margin-bottom: 0px;
}

// LAYOUT CUT CUSTOMIZATION
// --------------------------------------------------

.content {
	float:left;
	margin-right: (@sidebar-width + @grid-gutter-width);
}

.sidebar {
	float:left;
	width:@sidebar-width;
	margin-left:(0 - @sidebar-width);
}

.content-reverse {
	float:right;
	margin-left: (@sidebar-width + @grid-gutter-width);
}

.sidebar-reverse {
	float:right;
	width:@sidebar-width;
	margin-right:(0 - @sidebar-width);
}

// NAV STACKED
// --------------------------------------------------

.nav-tabs.nav-stacked > li > a {
	background-color: #fff;
	border:1px solid @gray-light;
}

.nav-tabs.nav-stacked > li > a:hover {
	background-color: @gray-lighter;
	border:1px solid @gray-light;
}

.nav-tabs.nav-stacked.affix {
	width:220px;
}

.nav-tabs.nav-stacked.affix {
	width:220px;
}

// NAV TABBED
// --------------------------------------------------
.tabbable > .nav-tabs > .active, .tabbable > .tab-content > .active {
	background-color: #fff;
}

// BUTTONS
// --------------------------------------------------
.btn-left {
	margin-left:5px;
}