<t:extend
	xmlns:t="http://tapestry.apache.org/schema/tapestry_5_3.xsd">
	<t:replace id="content">
			<div class="row-fluid">
				<div class="span12 spanbox">
				   	<div class="page-header">
						<h3>${message:chronicles.admin.persona.management.contacts.title}
							<small>${message:chronicles.admin.persona.management.contacts.smalltitle}</small>
						</h3>
					</div>
					
					<t:chronicles.persona.selector
							t:value="selectedPerso"
							t:zone="contactEditZone"
							t:label="message:chronicles.admin.persona.management.contacts.select.label"/>				
					
					<t:zone t:id="contactEditZone">
				    	<t:if test="selectedPerso">
				    		<t:delegate to="editor" />
				    	</t:if>
				    </t:zone>
					
					<t:zone id="notifications" />
	    	</div>
	    </div>
		<t:Block id="editor">
			<h4>Edition des Connaissances</h4>
			<hr />
			
			
			
			<h4>Edition des Contacts</h4>
			<hr />
		</t:Block>
		
		<t:Block id="empty" />
	</t:replace>
	
</t:extend>
