// Clipper
//-------------------------------------------------

.clipper {
	background-image: url(../../images/clippers.png);
	background-repeat: no-repeat;
	height: 45px;
	position: relative;
	right: 21px;
	top: -5px;
	width: 45px;
	margin-left: 90%;
	padding: 0px;
    background-color: transparent;
}

.clipper-hot{.clipper;background-position: 0 0;}
.clipper-new{.clipper;background-position: 0 -45px;}
.clipper-top{.clipper;background-position: 0 -90px;}
.clipper-video{.clipper;background-position:0,-135px;}
.clipper-audio{.clipper;background-position: 0 -180px;}
.clipper-photo{.clipper;background-position: 0 -225px;}
.clipper-info{.clipper;background-position: 0 -270px;}

.title-clipper {
	margin-top : -35px;
	margin-bottom : 5px;
	margin-left: 5px;
}