// LIBER-MUNDI.ORG LESS CUSTOMIZATION
// --------------------------------------------------

// SPAN CUSTOMIZATION (FOR GRID SYSTEM ONLY)
// --------------------------------------------------
.spanbox {
   background-color: #fff;
   box-shadow: 1px 1px 1px 1px @gray-light;
   border-radius: 2px;
   margin-bottom:@row-gutter;
   
   a { margin-left:5px; }
}

// fix for CKEditor
.cke_skin_kama, .cke_skin_v2, .cke_skin_office2003 {
	a { margin-left:0px; }
}

