		<pre>
       (\_/)        [ ${organization} ]
  /`-'--(")--'-'\   -------------------------------------------------------
 /     (___)     \  <a href="${siteUrl}">Site de ${organization}</a>
/.-.-./ " " \.-.-.\
---------------------------------------------------------------------------			
		</pre>
	</body>
</html>