.gigya-facebook{
	background-image: url(../img/login.png);
	background-repeat: no-repeat;
	height: 35px;
    background-color: transparent;
    background-position: -184px;
    width:93px;
}

.gigya-twitter{
	background-image: url(../img/login.png);
	background-repeat: no-repeat;
	height: 35px;
    background-color: transparent;
    background-position: -1458px;
    width:93px;
}

.gigya-yahoo{
	background-image: url(../img/login.png);
	background-repeat: no-repeat;
	height: 35px;
    background-color: transparent;
    background-position: -2002px;
    width:93px;
}

.gigya-windows{
	background-image: url(../img/login.png);
	background-repeat: no-repeat;
	height: 35px;
    background-color: transparent;
    background-position: -820px;
    width:93px;
}

.gigya-google{
	background-image: url(../img/login.png);
	background-repeat: no-repeat;
	height: 35px;
    background-color: transparent;
    background-position: -366px;
    width:93px;
}

.gigya-linkedin{
	background-image: url(../img/login.png);
	background-repeat: no-repeat;
	height: 35px;
    background-color: transparent;
    background-position: -639px;
    width:93px;
}